# TerraCast - Requirements
# Formato: seções apt: e pip: com pacotes prefixados por -

apt:
    - libnetcdf-dev
    - libhdf5-dev
    - libhdf4-dev
    - gdal-bin
    - python3-gdal
    - libgdal-dev
    - libgeos-dev
    - libproj-dev

pip:
    - numpy
    - matplotlib
    - cartopy
    - netCDF4
    - h5py
    - pyorbital
    - GDAL
    - pyresample
    - satpy
    - pyyaml
    - pyproj
    - shapely
    - pillow
    - systemd
    - pyspectral
    - pyhdf
